.text-calendar {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%;
  margin-left: 25%;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  background-color: #cecece;
}

.text-modal-calendar {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%;
  margin-left: 22.5%;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  background-color: #cecece;
}

.text-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-calendar {
  width: 1200px;
  max-width: 100%;
  margin-left: 6%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 250%;
}

.filter-calendar {
  width: 400px;
  max-width: 100%;
  max-height: 420px;
  margin: 0%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.modal-calendar {
  width: 800px;
  max-width: 100%;
  max-height: 420px;
  margin: 0%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}
 
 
.react-calendar__navigation button {
  color: #000000;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0%;
}
 
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
 
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #000000;
  border-radius: 6px;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #000000;
  color: white;
}

 
.react-calendar__tile--now {
  background: #b9b9b9;
  font-weight: bold;
  color: #000000;
}
 
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #d4a71333;
  border-radius: 6px;
  font-weight: bold;
  color: #000000;
}
 
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #8f8f8f;
  color: white;
}
 
.react-calendar__tile--active {
  background: #000000;
  font-weight: bold;
  color: white;
}
 

.react-calendar__month-view__days__day--weekend {
  color: #000000;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0%;
  background: #000000;
  color: white;
}
 
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #444444;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0%;
  color: white;
}
 
.react-calendar__tile--range {
  background: #1a1a1a;
  color: #ffffff;
  border-radius: 0;
}
 
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0%;
  background: #000000;
  color: white;
}
 
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0%;
  background: #000000;
  color: white;
}
